body, h1 {
    color: #303030;
}

h6 {
    font-size: 12px;
}

.orcamento {
    border-radius: 15px;
    border: 1px solid #303030;
    padding: 20px;
    margin-bottom: 15px;
}

.subtitle {
    color: #606060;
}

.section {
    margin-top: 25px;
}

.section h3 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 800;
}

.feat {
    font-family: 'Fira sans', 'Fira Code', sans-serif;
    margin-bottom: 20px;
}

.feat-header {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #146C94;
    color: white;
    border-radius: 8px 8px 0px 0px;
}

.feat-header h4{
    font-size: 18px;
    font-weight: 700;
    margin: 0
}

.feat-desc {
    padding: 10px 20px;
    background-color: #AFD3E2;
    border-radius: 0px 0px 8px 8px;
}

.legenda {
    font-size: 13px;
    color:#146C94;
}

.legenda p {
    padding-left: 5px;
    border-top: 3px dotted #146C94;
}

pre code {
    background-color: black;
    color: white;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    font-variation-settings: normal;
    overflow: scroll;
  }

pre code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
pre code { font-family: 'Fira Code VF', monospace; }
}